<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe5nZTTWcPO0brfUduyNXxZWB7wY9KMio</string>
	<key>GCM_SENDER_ID</key>
	<string>780618768563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.okbitGoApp</string>
	<key>PROJECT_ID</key>
	<string>okbitgo-e8806</string>
	<key>STORAGE_BUCKET</key>
	<string>okbitgo-e8806.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780618768563:ios:721235bece241e1a6a90c6</string>
</dict>
</plist>